.defaultBtn {
    display: block;
    border: none;
    @include border-radius(4px);
    padding: 11px 36px;
    @include font(12px, false, $medium_font_weight, 14px);
    &:focus {
        outline: none;
    }
}

/*... blue button...*/

.blueBtn {
    @extend .defaultBtn;
    background-color: $blue;
    color: $white;
    &:hover {
        background-color: $white;
        border: 2px solid $blue;
        color: $blue;
    }
}

/*... black button ...*/

.blackBtn {
    @extend .defaultBtn;
    background-color: $black;
    color: $white;
    &:hover{
        background-color: $white;
        color:$black;
        border: 2px solid $black;
    }
}

/*......transparent button with border...*/

.transparentBtn {
    @extend .defaultBtn;
    background-color: transparent;
    color: $black;
    border: 2px solid $black;
    &:hover {
        background-color: $black;
        color: $white;
    }
}