$blue: #007CAD;
$yellow: #FFF100;
$red: #D0021B;
$black: #000;
$white: #fff;
$olive: #605B00;

//.........shades of brown..............
$brown:#231F20;
$slate-brown:#020202;
$dark-brown: #231F20;

//.......... shades of grey...............
$lightish-grey: #E8E8E8;
$light-grey:#D8D8D8;
$meduim-grey:#979797;
$grey: #737373;
$dark-grey:rgba(0,0,0,0.4);