ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

a {
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
        text-decoration: none;
    }
}

.clearfix {
    @include clearfix();
}
.z-index-lower{
    z-index: -1;
    position: relative;
}