.footerContainer {
    background-color: $black;
    color:$white;
    .footerBlock {
        padding:24px 0; 
        @include flex();        
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @include flex-direction(column);
        @include largeDevices(){
            @include flex-direction(row);
        }
        .leftblock{
            order:1;
            text-align: center;
            font-size: 13px;
            line-height: 21px;
            font-weight: $medium_font_weight;
            a{
                text-decoration: underline;
                color:$white;
                font-size: 13px;	
                font-weight: $black_font_weight;	
                line-height: 13px;
                margin-top: 12px;
                display: inline-block;
            }
        }
        .footerLogo{
            order:3;
            width:60px;
            height: 60px;
            margin-top: 24px;
            img{
                max-width: 100%;
            }
        }
        .rightBlock{
            order:2;
            margin-top: 24px;
            font-size: 16px;
            line-height: 22px;
            font-weight: $medium_font_weight;
            span{
                &:last-child{
                    padding-left: 20px;
                }
            }
        }
    }
}
