.headerContainer {
    position: relative;
    color: $white; //padding: 15px 0 3px;
    padding: 0px 0 10px;
    z-index: 1;
    &:after {
        @include slantLeft($blue, -20px, 0, -1.5);
    }
    .leftHeader {
        .logo {
            padding: 16px 0 0;
            @include mediumDevices(){                
                padding: 12px 15px;
            }
            img{
                width: 80px;
            }
            @include largeDevices() {
                width: 295px;
                height: 85px; //padding: 25px 0 0; 
                padding: 30px 0 0;
                margin: 0;
            }
            @include mediumDevices() {
                padding: 0;
                width: 170px;
            }
            img {
                @include largeDevices() {
                    width: 100%;
                }
            }
        }
        .headerButton {
            .icon-bar {
                background-color: $white;
            }
        }
        .navbar-toggle{
            margin-right: 0;
            padding: 9px 4px;
            .icon-bar{
                width: 20px;
                height: 3px
            }
        }
    }
    .navbar-collapse {
        height: auto !important;
        right: -208px;
        position: absolute;
        width: 208px;
        background-color: $blue;
        overflow: hidden;
        @include transition(0.3s all);
        padding: 0px; // }
        @include mediumDevices() {
            position: static; 
            width: auto;
        }
        &.in {
            right: -1px;
            transition: 0.7s all;
        }
    }
    .rightSideHeader {
        @include largeDevices() {
            @include font($base_font_size, false, $bold_font_weight, 15px);
        } 
        margin: 0;
        padding: 25px;
        font-size: 14px;
        font-weight: $regular_font_weight; 
        >li:first-child {
            margin-bottom: 0px;
        }
        li {
            float: none;
            ul {
                &.upperMenu {
                    @include largeDevices() {
                        @include flex();
                        @include flex-direction(row);
                        align-items: center;
                        justify-content: flex-end;
                    } 
                    display: block; 
                    li {
                        @include mediumDevices() {
                            padding-right: 50px;
                        } 
                        margin-bottom: 25px;
                        padding: 0; 
                        a {
                            color: $white;
                            padding: 0;
                            display: inline-block;
                            &:hover {
                                background-color: transparent;
                            }
                            &.headerIcon {
                                @include mediumDevices() {
                                    width: 25px;
                                    height: 25px;
                                } 
                                width: 14px;
                                height: 17px;
                                display: flex;
                                flex-direction: row;
                                align-items: center; 
                                span {
                                    display: inline-block;
                                    &.iconImage {
                                        width: 100%;
                                        height: 100%;
                                    }
                                    &.headerMenuName {
                                        @include mediumDevices(){
                                            display: none;
                                        }    

                                            display: inline-block;
                                            padding-left: 15px;
                                       
                                    }
                                }
                                img {
                                    max-height: 100%;
                                }
                            }
                        }
                        &.headerIconList {
                            @include mediumDevices(){
                                padding-right: 30px;
                            } 
                            padding: 0;
                           
                        }
                        &.language {
                            @include mediumDevices(){
                                display: block;
                            }
                            font-weight: $regular_font_weight;
                            span {
                                cursor: pointer;
                                &.selectedLanguage {
                                    font-weight: $bold_font_weight;
                                }
                            }
                            >span:first-child {
                                border-right: 2px solid $white;
                                padding-right: 20px;
                            }
                            >span:last-child {
                                padding-left: 20px;
                            }
                                display: none;
                        }
                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
                &.lowerMenu {
                    @extend .upperMenu;
                        font-weight: $black_font_weight;
                        font-size: 18px;
                        margin-top: 45px;
                        @include mediumDevices(){
                            margin-top: 0;
                        }
                    .searchBlock {                       
                            @include flex();
                            @include flex-direction(row);
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 40px;
                            margin-bottom: 5px;                       
                        @include mediumDevices(){
                            display: block;
                            margin: 0;
                        }
                        .mobileLanguage {
                            @include mediumDevices(){
                                display: none;
                            }                            
                                display: inline-block;
                                font-weight: $regular_font_weight;
                                font-size: 14px;
                            span {
                                &.selectedLanguage {
                                    font-weight: $bold_font_weight;
                                }
                            }
                            >span:first-child {
                                border-right: 2px solid $white;
                                padding-right: 8px;
                            }
                            >span:last-child {
                                padding-left: 8px;
                            }
                        }
                    }
                }
            }
        }
        >li:last-child {
            @include mediumDevices(){ 
                float: right;
            } 
            float: none;
            .searchIcon {
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}