.homePageBodyContainer {
    margin-bottom: 48px;
    .slick-arrow {
        width: 12px;
        height: 8px;
        background-size: contain;
        background-repeat: no-repeat;
        &.slick-prev {
            background-image: url(../assets/images/arrow_left.svg);
            &:before {
                opacity: 1;
            }
        }
        &.slick-next {
            background-image: url(../assets/images/arrow_right.svg);
            &:before {
                opacity: 1;
            }
        }
        &:before {
            content: "" !important;
        }
    }
    .slick-dots {
        bottom: -25px;
        margin: 0;
        li {
            width: 8px;
            height: 8px;
            button {
                width: 8px;
                height: 8px;
                color: $lightish-grey;
                &:before {
                    font-size: 8px;
                    width: 8px;
                    height: 8px;
                }
            }
        }
        .slick-active {
            button {
                color: $black;
            }
        }
    }
    .mainBannerContainer {
        margin-top: -30px;
        position: relative;
        background-image: url('../assets/images/index_banner.png');
        min-height: 100%;
        height: 220px;
        background-size: cover;
        @include mediumDevices() {
            margin-top: -120px;
            min-height: 400px;
            background-size: cover;
            height: auto;
        } 
        .overlayDiv {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.1);
        }
        img {
            max-width: 100%;
        }
        .trainingBanner {
            display: none;
            @include mediumDevices() {
                padding-top: 110px;
                width: 418px;
                height: 55px;
                float: right;
                .traingBannerContents {
                    background-image: url('../assets/images/training.png');
                    width: 100%;
                    height: 100px;
                    background-size: cover;
                    padding: 10px 20px;
                    @include clearfix();
                    @include font(10px,
                    $white,
                    $bold_font_weight,
                    14px);
                    .trainingLogo {
                        width: 66px;
                        height: 78px;
                        float: left;
                    }
                    .trainingRightContent {
                        float: left;
                        padding-left: 15px;
                        .heading {
                            font-size: 27px;
                            line-height: 27px;
                            font-weight: $black_font_weight;
                            padding-top: 10px;
                        }
                        .date {
                            span {
                                display: inline-block;
                                &.heading {
                                    padding-top: 5px;
                                }
                                &:last-child {
                                    font-size: 18px;
                                    font-weight: $regular_font_weight;
                                }
                            }
                        }
                    }
                } 
            }
        }
        .portalContainer {
            padding-top: 80px;
            @include mediumDevices() {
                padding-top: 35%;
                @include font(60px,
                $white,
                $black_font_weight,
                75px);
            }
            div {
                max-width: 695px;
                display: inline-block; 
            } 
        }
        .filterSection {
            width: auto;
            background-color: $white;
            padding: 6px 0px 10px;
            text-align: center;
            margin: 51px auto 0;
            position: relative;
            z-index: 0;
            @include mediumDevices() {
                width: 782px;
                padding: 10px 55px 20px;
            }
            &:after {
                @include slantLeft($white,
                -15px,
                0,
                -1.2,
                25px);
                z-index: 1;
                @include mediumDevices() {
                    z-index: 0;
                }
            } 
            .filterSectionHeading {
                @include font(13px,
                $black,
                $medium_font_weight,
                21px);
                padding-bottom: 10px;
                @include mediumDevices() {
                    @include font(24px,
                    $black,
                    $medium_font_weight,
                    36px); 
                    padding-bottom: 0;
                }
            }
            .filterContainer {
                display: block;
                justify-content: space-between;
                z-index: 1;
                width: auto;
                padding-left: 20px;
                text-align: left;
                position: relative;
                margin-top: 20px;
                max-height: 160px;
                @include mediumDevices() {
                    @include flex();
                    @include flex-direction(row);
                }
                @include mediumDevices() {
                    width: 660px;
                }
                &:after {
                    @include slantLeft($yellow,
                    -15px,
                    0,
                    -1.2,
                    150px);
                }
                @include mediumDevices() {
                    &:after {
                        @include slantLeft($yellow,
                        -15px,
                        0,
                        -1.2,
                        95%);
                    }
                } 
                .filterblock {
                    padding-left: 15px;
                    &.expand {
                        padding-bottom: 20px;
                        padding-right: 15px;
                        background-color: $yellow;
                        height: 100%;
                    }
                }
                .selectBackgroundSection {
                    @include font(17px,
                    $black,
                    $black_font_weight,
                    27px);
                    @include mediumDevices() {
                        @include font(30px,
                        $black,
                        $black_font_weight,
                        46px);
                    }
                    .backgroundDropdown {
                        padding-bottom: 0;
                        padding-left: 0;
                        padding-top: 0;
                        background-color: transparent;
                        border-bottom: 4px solid $black;
                        @include font(17px,
                        $olive,
                        $black_font_weight,
                        27px);
                        &:focus {
                            outline: none;
                        }
                        &:active {
                            box-shadow: none;
                        } 
                        .dropdownSign {
                            width: 12px;
                            display: inline-block;
                        }
                        @include mediumDevices() {
                            padding-bottom: 0;
                            padding-left: 0;
                            padding-top: 0;
                            background-color: transparent;
                            border-bottom: 4px solid $black;
                            @include font(30px,
                            $olive,
                            $black_font_weight,
                            46px);
                            &:focus {
                                outline: none;
                            }
                            &:active {
                                box-shadow: none;
                            } 
                            .dropdownSign {
                                width: 12px;
                                display: inline-block;
                            }
                        }
                    }
                    .dropdown-menu {
                        position: relative;
                        float: none;
                        background-color: $yellow;
                        border: none;
                        box-shadow: none;
                        @include font(24px,
                        $black,
                        $black_font_weight,
                        46px); 
                    } 
                }
            }
            .buttonDiv {
                @include mediumDevices() {
                    position: static;
                    padding-top: 8%;
                    margin-right: -30px;
                    button {
                        padding: 14px 40px;
                        font-weight: $medium_font_weight; 
                    }
                }
            }
        }
    }
    .buttonDiv {
        .blueBtn {
            margin: 20px auto 0;
            position: relative;
            left: -7px;
        }
        @include mediumDevices() {
            .blueBtn {
                margin: auto;
                position: static;
            }
        }
    }
    .rightProfessionSection {
        margin-top: 270px;
        @include mediumDevices() {
            margin-top: 85px;
        }
        .headingSection {
            padding: 0 10px;
            margin-bottom: 13px;
        }
        .professionList {
            padding-top: 15px;
            .listContainer {
                .imageContainer {
                    height: 250px;
                    overflow: hidden;
                    background-color: $lightish-grey;
                    display: table-cell;
                    vertical-align: middle;
                    img {
                        max-width: 100%;
                    }
                }
                .descriptionContainer {
                    background-color: $yellow;
                    position: relative;
                    padding: 20px 16px 32px;
                    &:after {
                        @include slantLeft($yellow,
                        -3px,
                        0,
                        -1.2,
                        5px);
                        z-index: 0;
                    }
                    .heading {
                        font-size: 10px;
                        line-height: 15px;
                        font-weight: $bold_font_weight;
                        margin-bottom: 8px;
                    }
                    .description {
                        font-size: 11px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
    .professionalOrientationSection {
        margin-top: 48px;
        .contentContainer {
            padding: 0 10px;
            h2 {
                margin-bottom: 24px;
            }
            .block {
                margin-bottom: 32px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .trainingSection {
         margin-top: 48px;
        @include mediumDevices(){
             margin-top: 120px;
        }
         
        .trainingblock {
                background-color: $light-grey;
                background-image: url('../assets/images/taining-mobile.png');
                width: 100%;                
                background-size: 60% auto;
                background-repeat: no-repeat;
                padding: 10px 0px 10px 0px; 
                @include clearfix();
                @include font(10px,
                $white,
                $bold_font_weight,
                14px);
                @include flex();
                @include flex-direction(column);   
                background-size: contain;  
                margin: 0 16px;
                width: calc(100% - 32px);       
             @include mediumDevices{
                background-image: url('../assets/images/training.png');
                @include flex-direction(row); 
                padding: 10px 0px 24px 40px;
                background-size: cover;
                margin: 0;
                width: 100%;
             }
            .leftSection {
                width: 100%;
                @include flex;
                @include flex-direction(row-reverse);
                justify-content: space-between;
                -webkit-justify-content: space-between;
                padding: 16px;
                align-items: flex-start;
                @include mediumDevices(){
                    @include flex-direction(row);
                    justify-content: initial;
                    width: 90%;
                    padding: 0;
                    align-items: center;
                }
                .trainingLogo {
                    width: auto;
                    height: 33px; 
                    @include mediumDevices(){
                        width: 130px;
                        height: 110px; 
                    }
                   
                    img {
                        max-width: 100%;
                        height: 100%;
                    }
                }
                .trainingRightContent {
                    @include font(16px,
                    $white,
                    $bold_font_weight,
                    24px);
                    .heading {
                        @include font(22px,
                        $white,
                        $black_font_weight,
                        22px);
                        padding-top: 10px;
                        @include mediumDevices(){
                            @include font(45px,
                            $white,
                            $black_font_weight,
                            45px);
                            padding-top: 10px;
                        }
                        
                    }
                }
                .date {
                    padding-top: 10px;
                    font-weight: $regular-font_weight;                    
                    font-size: 13px;
                    line-height: 15px;
                    @include mediumDevices(){
                        font-size: 30px;
                        line-height: 30px;
                    }
                    >span {
                        padding-right: 5px;
                    }
                    .number {
                        font-size: 20px;
                        line-height: 22px; 
                         @include mediumDevices(){
                            font-size: 45px;
                            line-height: 45px;
                         }
                    }
                }
            }
            .rightSection {               
                    
                    padding-left: 16px;
                    padding-right: 16px;
                    align-self: flex-end;
                    padding-top: 10px;
                    @include font(13px,
                    $black,
                    $medium_font_weight,
                    21px);
                 @include mediumDevices(){  
                     padding-left: 10px;  
                     padding-right: 0px;               
                    @include font(20px,
                    $black,
                    $regular_font_weight,
                    30px);
                 }

                .buttonDiv {
                    margin-top: 20px;
                    display: block;
                    button {
                        text-transform: uppercase;
                        // padding: 5px 30px;
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    .blackBtn {
                        margin-left: 0px;
                    }
                    @include mediumDevices(){
                        @include flex();
                        @include flex-direction(row);
                        button{
                            width: auto;
                            margin-bottom: 0px;
                        }
                        .blackBtn {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
    .videoPreviewSection {
        margin-top: 48px;
        position: relative;
        .imageContainer {
            >img {
                max-width: 100%;
                height: auto;
            }
            >span {
                position: absolute;
                top: 45%;
                left: 45%;
                cursor: pointer;
                width: 34px;
                img {
                    max-width: 100%;
                }
            }
        }
    }
    .aboutSection {
        margin-top: 90px;
        .contentBlock {
            padding: 0 10px;
        }
        .descriptionText {
            p {
                margin-top: 22px;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        button {
            margin-top: 30px;
            width: 100%;
            padding: 10px 0;
        }
    }
    .NewsSection {
        text-align: center;
        margin-top: 48px;
        .newsBtnDiv{
            padding-top: 32px;
            button{
                width:100%;
                padding: 10px 0;
            }
        }
        .homeCarousel {
            text-align: left;
            .cardContainer {
                &:nth-child(odd) {
                    padding-top: 0;
                }
                &:focus {
                    outline: none;
                }
                .cardDescription {
                    background-color: $lightish-grey;
                    padding: 16px;
                    @include font(10px,
                    false,
                    $bold_font_weight,
                    15px);
                    .date {
                        margin-top: 8px;
                        color: $blue;
                    }
                    .cardText {
                        font-size: 11px;
                        line-height: 18px;
                        font-weight: $medium_font_weight;
                        margin-top: 16px;
                        margin-bottom: 16px;
                    }
                    button {
                        position: relative;
                        padding: 10px 0;
                        width:100%;
                        .icon {
                            position: absolute;
                            top: 5px;
                            right: 10px;
                        }
                    }
                }
            }
        }
    }
}