//mixin for font
@mixin font($size: false, $colour: false, $weight: false, $lh: false) {
    font-family: 'Roboto', Arial, sans-serif;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
}

//mixin for transition 
@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

//mixin for border-radius vendor prefix
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

//mixin for pseudo classes (:before, :after)
@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

//mixin for flex
@mixin flex {
    display: -webkit-flex;
    display: flex;
}

//mixin for flex direction
@mixin flex-direction($direction) {
    flex-direction: $direction;
    -webkit-flex-direction: $direction;
}

//mixin for clearfix
@mixin clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// generic transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// rotate
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
    @include transform(scale($scale));
}

// translate
@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}

// skew
@mixin skew ($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
    -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}

//slant - line -left mixin
@mixin slantLeft($bgColor:#fff, $positionTop:-15px, $x:0, $y:1.2, $height:100%) {
    background-color: $bgColor;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: $height;
    top: $positionTop;
    z-index: -1;
    left: 0;
    @include skew($x, $y);
}

// /* .....  resposnive media queries ........ */
/* Small Devices, Tablets */
@mixin tabletDevices() {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

/* Medium Devices, Desktops */

@mixin mediumDevices() {
    @media only screen and (min-width: 992px) {
        @content;
    }
}

/* Large Devices, Wide Screens */

@mixin largeDevices() {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

// @mixin mediumDevices() {
//     @media (min-width: 992px) {
//         @content;
//     }
// }
// @mixin largeDevices() {
//     @media (min-width: 1200px) {
//         @content;
//     }
// }
// @mixin tabDevices() {
//     @media (max-width: 991px) {
//         @content;
//     }
// }
// @mixin mobileDevices() {
//     @media (max-width: 767px) {
//         @content;
//     }
// }
// @mixin mq($point) {
//     @if $point == p {
//       @media all and (max-width:1000px) { @content; }
//     }
//     @else if $point == d { 
//       @media all and  (min-width:1001px) { @content; }
//     }
//     @else if $point == ps { 
//       @media all and (max-width:319px) { @content; }
//     }
//   }
// $breakpoints: ( "phone": 400px, "phone-wide": 480px, "phablet": 560px, "tablet-small": 640px, "tablet": 768px, "tablet-wide": 1024px, "desktop": 1248px, "desktop-wide": 1440px);
// @mixin mq($width, $type: min) {
//     @if map_has_key($breakpoints, $width) {
//         $width: map_get($breakpoints, $width);
//         @if $type==max {
//             $width: $width - 1px;
//         }
//         @media only screen and (#{$type}-width: $width) {
//             @content;
//         }
//     }
// }