// typos
//.......................fonts.............................
$body_font: 'Roboto';
//........................font weights.......................
$regular_font_weight: 400;
$medium_font_weight: 500;
$bold_font_weight: 700;
$black_font_weight: 900;
//.......................font sizes.............................
$base_font_size: 16px;
$tablet_font_size: 14px;
$mobile_font_size:11px;
body,
input,
p,
button {
    color: $black;
    font-family: $body_font;
    font-size: $mobile_font_size;
    @include mediumDevices(){
        font-size: $tablet_font_size;
    }
    @include largeDevices() {
        font-size: $base_font_size;
    }
}

body {
    p {
        font-size: 11px;
        line-height: 18px;
        @include mediumDevices(){
            font-size: $tablet_font_size;
            line-height: 24px;
        }
        @include largeDevices() {
            line-height: 26px;
            font-size: $base_font_size;
        }
    }
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
    color: $black;
    font-weight: $bold_font_weight;
    @include mediumDevices(){
        font-weight: $black_font_weight; 
    }
}

h1 {
    font-size: 30px;
    line-height: 36px;
    color: $white;
    @include mediumDevices(){
        font-size: 55px;
        line-height: 62px;
    }
    @include largeDevices() {
        font-size: 65px;
        line-height: 75px;
    }
}

h2 {
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 12px;
    @include mediumDevices(){
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 32px;
    }
    @include largeDevices() {
        font-size: 55px;
        line-height: 65px;
        margin-bottom: 34px;
    }
}

h2 +p{    
    @include font(13px, $black, $medium_font_weight, 21px);
    @include mediumDevices(){
        font-size: 18px;
        line-height: 30px;
    }
    @include largeDevices() {
        font-size: 24px; 
        line-height: 36px;
    }
}

h3 {
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 12px;
    @include mediumDevices(){
        font-size: 35px;
        line-height: 60px;
        margin-bottom: 24px;
    }
    @include largeDevices() {
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 22px;
    }
}

h4 {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 16px;
    @include mediumDevices(){
        font-size: 25px;
        line-height: 45px;
        margin-bottom: 8px;
    }
    @include largeDevices() {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 12px;
    }
}